@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700|Roboto:400,500,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext");

@import "~mdi/scss/materialdesignicons.scss";

@import "~bootstrap/scss/bootstrap.scss";

@import "navbar";

html {
    font-size: 12px;
    /*background: rgba(80, 171, 241, 0.28);*/
}
body {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    //min-height: 150vh;
    position: relative;
    margin: 0 auto;
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    background: #dbac00;
}

.app-main {
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    max-width: 920px;
    margin: 0 auto;
}

.main-background {
    position: fixed;
    max-width: 920px;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
	background: #484848;
}
.main-background-create {
    position: fixed;
    max-width: 920px;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
	background: #fff;
}
.side-bg {
    flex: 1;
    position: absolute;
    width: 35%;
    height: 100%;
    z-index: -3;

    &--left {
        left: 0;
        background: url('../assets/background/bg-left.png') repeat-y top left;
    }
    &--right {
        right: 0;
        background: url('../assets/background/bg-right.png') repeat-y top right;
    }
}

a {
    text-decoration: underline;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.router-link-exact-active {
    color: #000;
    text-decoration: none;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}

.fade-opacity-enter-active {
    transition: all .3s ease;
}
.fade-opacity-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-opacity-enter, .fade-opacity-leave-to {
    opacity: 0;
}

.slide-fade-bottom-enter-active {
    transition: all .3s ease;
}
.slide-fade-bottom-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-bottom-enter, .slide-fade-bottom-leave-to {
    transform: translateY(30px);
    opacity: 0;
}

.main_attached {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	width: 100%;
	max-width: 920px;
	height:69px;
	padding: 0;
	background: #fff;
	position: -webkit-sticky;
	position: sticky;
	top: 80px;
	z-index: 10;
}

.main_attached_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	
}
.main_attached_time {
	color:#90A0B7;
	margin-left:5px;
}

#langs_hide {
    opacity: 0;
	position: absolute;
    right: 90px;
	z-index:2;
	width: 28px;
    height: 28px;
}
#langs_create_hide {
    opacity: 0;
	position: absolute;
    right: 25px;
	z-index:11;
	width: 28px;
    height: 28px;
}
#langs {
	cursor: pointer;
    position: absolute;
    right: 90px;
    z-index: 1;
    display: inline-block;
    line-height: 17px;
    border-radius: 28px;
    background: #ffffff;
    color: black;
    font-size: 14px;
    overflow: hidden;
    font-weight: bold;
    outline: none;
    padding: 7px;
    text-transform: uppercase;
}
@media screen and (max-width: 400px) {
	#langs {
		right: 70px;
	}
	#langs_hide {
		right: 70px;
	}	
}
#langs_create {
	cursor: pointer;
    position: absolute;
    right: 25px;
    z-index: 10;
    display: inline-block;
    line-height: 17px;
    border-radius: 28px;
    background: #ffffff;
    color: black;
    font-size: 14px;
    overflow: hidden;
    font-weight: bold;
    outline: none;
    padding: 7px;
    text-transform: uppercase;
}