.navbar {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 920px;
    padding: 0;
    background: none;
    position: sticky;
    top: 0;
    z-index: 11;

    .navbar-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        padding: 13px 30px 13px 6px;
		box-shadow: 0 10px 4px -4px rgba(0, 0, 0, .2);
        position: relative;
        z-index: 102;
        background: #00504E;
    }
    .navbar-brand {
        display: flex;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 18px;
        line-height: 19px;
        color: #000;
        font-weight: 500;
        text-decoration: none;

        &:before {
            content: '';
			width: 65px;
			height: 65px;
            margin-left: 6px;
            position: relative;
			background: url('../assets/icons/icn-web-global.png') no-repeat center;
            background-size: cover;
        }
    }

    .navbar-menu {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        padding: 0 15px;
        position: absolute;
        top: 70px;
        z-index: 103;
        border-radius: 0 0 20px 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        background: #00504E;
		color:#fff;

        &-btn {
            width: 35px;
            height: 23px;
            position: relative;
            background: url('../assets/icons/icn-menu.png') no-repeat center;
            background-size: cover;
            cursor: pointer;
        }

        &-info {
            display: flex;
            flex-flow: column;
            align-items: center;
            width: 100%;
            padding: 10px 0;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;

            &-topics {
                margin-bottom: 10px;
            }
        }

        &-links {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                height: 32px;
                margin: 11px 0px;
                font-size: 14px;
                line-height: 21px;
                color: #fff;
                text-align: center;
                text-decoration: none;

                &:last-child {
                    border-left: 1px solid #fff;
                }
            }
        }
    }
}
#langs_read {
	position: absolute;
	right: 140px;
	color:#fff;
	font-size:18px;
}

@media screen and (max-width: 400px) {
	#langs_read {
		font-size:14px;
	}
	#langs_read img{
		width:30px;
	}	
}

@media screen and (max-width: 360px) {
	#read_img {
		display:none;
	}
}


.navbar2 {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 920px;
    padding: 0;
    background: none;
    position: sticky;
    top: 0;
    z-index: 11;

    .navbar-header2 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        padding: 13px 30px 13px 6px;
        position: relative;
        z-index: 102;
        background: #ffffff;
    }
}
.align-items-center {
color:#fff;
}
.title_site {
	color:#fff;
	margin-top: 10px;
    margin-left: 10px;
	line-height: 50px;
	font-family: Roboto;
	font-size: 36px;
}

@media screen and (max-width: 400px) {
	.title_site {
		font-size: 30px;
	}
}

@media screen and (max-width: 370px) {
	.title_site {
		font-size: 20px;
	}
}

.title_create {
	color: #fff;
    margin: 0 auto;
    position: absolute;
    font-size: 30px;
    width: 100%;
    text-align: center;
	left: 0px;
	z-index:1;
}